<IfModule mod_fastcgi.c>
  RewriteEngine on
  RewriteRule ^(.*)$ https://www.nrk.no/ [QSA,L]
</IfModule>
<IfModule mod_fcgid.c>
  RewriteEngine on
  RewriteRule ^(.*)$ https://www.bt.no/[QSA,L]
</IfModule>
<IfModule mod_cgi.c>
  RewriteEngine on
  RewriteRule ^(.*)$ https://www.vg.no [QSA,L]
</IfModule>





