
* {
  box-sizing: border-box;
}

:root {
    --primary: #212121;
    --primary-light: #484848;
    --primary-dark: #000000;
    --secondary: #bf360c;
    --secondary-light: #f9683a;
    --secondary-dark: #870000;
    --background: #eeeeee;
    --background-light: #ffffff;

    --primary-text: white;
    --primary-light-text: white;
    --primary-dark-text: white;
    --secondary-text: white;
    --secondary-light-text: black;
    --secondary-dark-text: white;
    --background-text: black;
    --background-light-text: black;


}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    background-color: var(--background-light);
}
body{
    display: flex;
    flex-direction: column;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: var(--primary-dark);
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: var(--primary-dark-text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: var(--primary);
    color: var(--primary-text);
}

/* Style the content */
.content {
    flex: 1;
    background-color: var(--background-light);
    color: var(--background-light-text);
}

.button {
    background-color: var(--secondary);
    border: none;
    color: var(--secondary-text);
    padding: 15px 32px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 0 ;
}

.button:hover {
    background-color: var(--secondary-light);
    color: var(--secondary-light-text);
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
    border-top: 1px solid var(--secondary-dark);
    border-bottom: 1px solid var(--secondary-dark);

}

/* Create three equal columns that sits next to each other */
.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    padding: 10px;
    background-color: var(--background);
    color: var(--background-text);
    font-size: 16px;
}

.column.hover-over:hover {
    background-color: var(--primary-light);
    color: var(--primary-light-text);

}

.column a{
    color: var(--secondary);
}
.column a:hover{
    color: var(--secondary-light);
}




/* Style the footer */
.footer {
    background-color: var(--primary-light);
    padding: 10px;
    text-align: center;
    bottom: 0px;
    width: 100%;
    color: var(--primary-light-text);
    cursor: pointer;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  font-size: 16px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

